.delete-project-btn {
    margin-top: 0;
    width: 180px;
    height: 45px;
    border: none;
    background-color: #5E3DD3;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}
.delete-project-btn:hover {
    background-color: #5D54A4;
}
