.feed-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    text-align: center;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, 0.3);
    /* box-shadow: 32px 19px rgba(0, 0, 0, 0.4); */
    border-radius: 85px;
    margin: 100px 100px 100px 100px;
}

.card {
    display: flexbox;
    width: 40vw;
    align-content: space-around;
    margin: 10px 40px 50px 40px;
    padding: 15px 20px 30px 20px;
    /* background: rgba(0, 0, 0, 0.4); */
    border-radius: 15px;
}

.postTitle {
    display: flex;
    justify-content: flex-start;
    margin: 15px;
}

#postImage {
    max-width: 500px;
    max-height: 300px;
    box-shadow:8px 9px rgba(0, 0, 0, 0.3);
}

.postbody {
    max-width: 500px;
    padding-top: 15px;

}

/* button {
    padding: 5px;
    margin-top: 20px;
} */