
.feed-title {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 50px;
}

.feed-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.3);
    width: 80vw;
    margin: auto;
    border-radius: 80px;
}

.feed-content{
    width: 500px;
    text-align: center;
    margin: 50px;
}   

#project-poster {
    width: 400px;
    height: 475px;
    object-fit: contain;
    border-radius: 5px;
}

.feed-intro {
    margin-top: 20px;
}
