.Footer {
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: row;
    padding: 50px 0;
}

.Middle-footer {
    position: absolute;
    bottom: 50px;
    font-size: 14px;
    font-weight: 400;
}