
.landing-leftside, .landing-rightside {
    height: 90vh;
    width: 100%;
}

.landing-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.landing-leftside{
    display:flex;
    flex: 50%;
    background-image:url('../assets/LandingImage/LandingImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.landing-rightside{
    display: flex;
    flex:50%;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-left: 40px;
}

.landing-button-wrapper{
    align-items: flex-start;
}

.landing-header {
    font-size: 72px;
    font-weight: 700;
}

.landing-description {
    font-size: 24px;
    font-weight: 300;
    margin: 2em 0;
}

.landingbutton {
    border-radius: 10px;
    padding: 1.5em 3em;
    border: 2px solid #5D54A4;
    color:#5D54A4;
    background-color: Transparent;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 700;
}
    
.landingbutton:hover {
    color: white;
    background-color: #5D54A4;

}




@media only screen and (max-width: 1150px) {
    .landing-header {
        font-size: 64px;
    }
    .landing-description {
        font-size: 20px;
        margin: 1.2em 0;
    }
    .landingbutton {
        border-radius: 10px;
        padding: 1em 2em;
    } 
}

@media only screen and (max-width: 860px) {
    .landing-container {
        padding: 20px;
    }
    .landing-header {
        font-size: 48px;
    }
    .landing-description {
        font-size: 16px;
        margin: 1.2em 0;
    }
    .landingbutton {
        border-radius: 10px;
        padding: 1em 2em;
        font-size: 14px;
    } 
}

@media only screen and (max-width: 620px) {
    

}