.App {
    position: relative;
    min-height: 100vh;
  }
  
  
  /* Nav Bar */
  .nav-bar {
    background-color: #FFF;
    width: 100%;
    height: 4em;
    font-family: 'Poppins', sans-serif;
    display: flex;
    margin-top: 20px;
  }
  
  .nav-bar .LeftSide {
    flex: 50%;
    display: flex;
    justify-content: left;
    padding-left: 50px;
    align-items: center;
  }
  
  .nav-bar .LeftSide a {
    font-weight: 700;
    font-style: normal;
    line-height: 31px;
    font-size: 36px;
    color: #000;
    text-decoration: none;
  }
  
  .nav-bar .RightSide {
    flex: 50%;
    display: flex;
    justify-content: right;
    padding-right: 50px;
    align-items: center;
  }
  
  button {
    display: none;
  }
  
  .nav-bar .RightSide #hidden {
    display: flex;
  }
  
  .nav-bar .RightSide .nav-link a {
    margin: 0 1em;
    font-weight: 600;
    font-size: 16px;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    font-style: normal;
  }
  

  
  
  
  
  /* Media query for navbar */
  @media only screen and (max-width: 870px) {
    .nav-bar .RightSide .nav-link a {
      font-size: 14px;
    }
    .nav-bar .RightSide {
      padding-right: 25px;
    }
  
    .Footer .Middle-footer .nav-link a {
       margin: 0 .5em;
      font-size: 12px;
    }
    .nav-bar.RightSide .nav-link a {
      margin: 0 .5em;
    }
  }
  
  /* Screen Size for Footer */
  @media only screen and (max-width: 725px) {
    .Footer {
      height: auto;
      flex-direction: column;
      align-items: center;
    }
    .Footer .LeftSide-footer {
      justify-content: center;
      padding-left: 0px;
      padding-top: 1em;
    }
    .Footer .RightSide-footer {
      justify-content: center;
      padding-right: 0px;
      padding-bottom: 2em;
    }
    .Footer .Middle-footer {
      padding: 1em;
    }
  }
  
  
  @media only screen and (max-width: 640px) {
    .nav-bar .RightSide .nav-link a {
      font-size: 12px;
    }
    .nav-bar .RightSide {
      padding-right: 5px;
    }
    .nav-bar .LeftSide {
      padding-left: 25px;
    }
  }
  
  @media only screen and (max-width: 620px) {
    /* Nav */
    .nav-bar .RightSide .nav-link {
      display: none;
    }
    .nav-bar .LeftSide {
      padding-left: 25px;
    }
    .nav-bar .LeftSide a {
      font-size: 24px;
    }
    .nav-bar .RightSide {
      padding: 25px;
    }
    button {
      display: flex;
      padding: 25px 20px;
      background-color: hsla(38, 22%, 90%, 0);
      background-image: url('../assets/MenuBarImage/ryan.png');
      background-repeat: no-repeat, repeat;
      background-position: center; /* Center the image */
      border: none;
      border-radius: 5px;
    } 
  
    .nav-bar .RightSide #hidden {
      position: absolute;
      left: 0px;
      top: 4em;
      height: 300px;
      width: 100%;
      background-color: #134E15;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .nav-bar .RightSide #hidden a {
      margin-top: 2.5em;
      font-size: 16px;
      color: #FFF;
    }
  
}