Link {
  text-decoration: none;
}

header {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    max-height: 4em;
    display: flex;
    margin-top: 10px;
    width: 100%;
    text-decoration: none;
}


.logo,
.logo-wrapper {
  flex: 50%;
  display: flex;
  justify-content: right;
  padding-left: 50px;
  align-items: center;
  font-size: 32px;
}

nav {
    flex: 50%;
    display: flex;
    justify-content: right;
    padding-right: 50px;
    align-items: center;
}

nav a,
nav h3 {
  text-decoration: none;
  text-transform: uppercase;
  margin: auto .5em;
  color: #fff;
  padding: 5px 10px;
  font-weight: 600;
  font-size: 18px;
}
nav a:hover{
    text-decoration: line-through;
}

  main {
    min-height: calc(100vh - 4em);
  }

  .signup {
    color: #fff !important;
    background-color: #5D54A4;
    border-radius: 10px;
    border: 1px solid #5D54A4;
    padding: .75em 1.5em;
  }
  .signup:hover {
    border: 1px solid #5D54A4;
    background-color: #5D54A4;
    color: #FFF !important;
  }
    
  .signin {
    color: #fff !important;
    background-color: #5D54A4;
    border-radius: 10px;
    border: 1px solid #5D54A4;
    padding: .75em 1.5em;
  }
  .signin:hover {
    border: 1px solid #5D54A4;
    background-color: #5D54A4;
    color: #FFF !important;
  } 


  @media only screen and (max-width: 600px) {
    .signin {
        color: #fff !important;
        background-color: #5D54A4;
        border-radius: 10px;
        border: 1px solid #5D54A4;
        padding: .5em 1em;
      }
      .signup{
        padding: .5em 1em;
      }
  }