header {
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    max-height: 4em;
    display: flex;
    margin-top: 10px;
    width: 100%;
}

.logo-wrapper,
.logo-text {
    font-size: 28px;
    margin: auto .5em;
    text-decoration: none;
    color: black;
    display: flex;
    flex: 50%;
    justify-content: left;
    align-items: center;
}

.link-logo{
    text-decoration: none;
}

nav {
    flex: 50%;
    display: flex;
    justify-content: right;
    padding-right: 30px;
    align-items: center;
}

nav a,
nav h3 {
  text-decoration: none;
  text-transform: uppercase;
  margin: auto .5em;
  color: black;
  padding: 5px 10px;
  font-weight: 600;
}
nav a:hover{
    text-decoration: line-through;
}

  main {
    min-height: calc(100vh - 4em);
  }

  .signup {
    color: #134E15 !important;
    border: 1px solid #134E15;
    border-radius: 10px;
    padding: .75em 1.5em;
  }
  .signup:hover {
    color: #fff !important;
    background-color: #134E15;
  }
    
  .signin {
    color: #fff !important;
    background-color: #134E15;
    border-radius: 10px;
    border: 1px solid #134E15;
    padding: .75em 1.5em;
  }
  .signin:hover {
  border: 1px solid #134E15;
  background-color: #FFF;
  color: #134E15 !important;
  } 


  @media only screen and (max-width: 600px) {
    .signin {
        color: #fff !important;
        background-color: #134E15;
        border-radius: 10px;
        border: 1px solid #134E15;
        padding: .5em 1em;
      }
      .signup{
        padding: .5em 1em;
      }
  }