.sign-in-page, .signIn-leftside {
    height: 90vh;
    width: 100%;
}

.sign-in-page {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: calc(100vh - 4em);
}

.signIn-leftside {
	display:flex;
    flex: 50%;
    background-image:url('../assets/LandingImage/LandingImage.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    height: calc(100vh - 8em);
    position: relative;
    animation: slide-in .5s;
    animation-timing-function: ease-in-out;
}

.screen__content {
	display: flex;
    flex:50%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 40px;
    animation: slide-out 1s;
    animation-timing-function: ease-in;
}

@keyframes slide-in {
    0% {
        left: -300px;
        opacity: 0.3;
    }
    100% {
        left: 0px;
    }
}

@keyframes slide-out {
    0% {
        opacity: 0.3;
    }
    100% {
        opacity: 1;
    }
}

.signin-header {
    font-size: 64px;
    font-weight: 700;
    text-align: center;
	margin-bottom: 50px;
}

.signin-description {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: .3em;
    text-align: center;
}

.login_field {
	display: flex;
	flex-direction: column;
}


.login_input {
	border: 2px solid #fff;
	border-radius: 10px;
	width: 500px;
	height: 60px;
	padding-left: 25px;
	margin-bottom: 20px;
    color: black;
}

.email,
.password {
	margin-left: 25px;
}

.login_signin {
    color: #fff !important;
    background-color: #5E3DD3;
    border-radius: 10px;
    border: 1px solid #5E3DD3;
    width: 500px;
	height: 60px;
    font-size: 18px;
    font-weight: 600;
    margin-top:50px;
}
.login_signin:hover {
    color: white;
    background-color: #867dc7;
}

.signin-intro{
	margin-top: 10px;
	font-size:16px;
	text-align: center;
	font-weight: 300;
}

.counter {
    background-image: url('../assets/LandingImage/counter.gif');
    width: 200px;
    height: 50px;
    background-position: center;
    background-repeat: no-repeat; 
    background-size: contain;
    position: absolute; 
    bottom: 10px;
}


@media only screen and (max-width: 1150px) {
    .signIn-leftside { 
        display:flex;
        width: 500px;
        height: 500px;
    }
    /* .screen__content {
        flex: 100%;
    } */
}

@media only screen and (max-width: 860px) {
    .signIn-leftside {
        display: none;
    }
    .screen__content {
        margin: 60px 0;
    }
    .login_signin { 
        width: 350px;
        height: 60px;
        margin-top: 30px;
    }
    .login_input {
        width: 350px;
        height: 60px;
    }
    .signin-header {
        font-size: 40px;
        font-weight: 700;
        margin-bottom: 50px;
}
}

@media only screen and (max-width: 620px) {
   
}

