.update-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    margin-top: 10px;
}


.create-update {
    display: flex;
    width: 300px;
    height:60px;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    color: #000;
}
.create-update-title {
    margin-top: 40px;
    display: flex;
    width: 300px;
    height:60px;
    border: 0;
    border-bottom: 1px solid white;
    margin-bottom: 20px;
    color: #000;
}

.col-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgb(255, 255, 255);
    border-radius: 10px;
    z-index: 999;
    background-color: #131314;
    width: 500px;
    max-width: 80%;
    color:black;
}
.col-2 textarea {
    min-height: 120px;
}

.update-button {
    margin-top: 0;
    margin-left: 10px;
    width: 150px;
    height: 45px;
    border: none;
    background-color: #7970bd;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    
}
.update-button:hover {
    background-color: #5E3DD3;
}

.submit-button {
    margin-top: 0;
    width: 180px;
    height: 45px;
    border: none;
    background-color: #5E3DD3;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-right: 10px;
}
.submit-button:hover {
    background-color: #5D54A4;
}

.close-update-button {
    position: absolute;
    right: 20px;
    margin-top: 0;
    margin-bottom: 10px;
    width: 45px;
    height: 45px;
    border: none;
    margin-top: 10px;
    background-color: #5E3DD3;
    border-radius: 50px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    
}
.close-update-button:hover {
    background-color: #5D54A4;
}

